/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-image:url("/assets/mechchassis.png");
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position:52% 70%; 
	background-size: 40%;
	font-family: arial;
	background-color: black;
	color: white;
}

#main {
	float:right;
	width:500px;
}

#sidebar {
	float:left;
	width:250px;
	background-color: gray;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

#item_menu table {
	width:200px;
}

#item_menu th {
	background-color: gray;
	font-weight: normal;
}

#item_menu {
	float: right;
	width: 200px;
	background-color: gray;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

#tonnage_used {
	font-size: 24pt;
	position: fixed center;
}

.tables {
	display: none;
}

.head {
	position: fixed;
	top: 20%;
	left: 43%;
}

.center_torso {
	position: fixed;
	top: 50%;
	left: 43%;
}

.right_torso {
	position: fixed;
	top: 30%;
	left: 30%;
}

.right_arm {
	position: fixed;
	top: 50%;
	left: 19%;
}

.right_leg {
	position: fixed;
	top: 80%;
	left: 30%;
}

.left_torso {
	position: fixed;
	top: 30%;
	right: 32%;
}

.left_arm {
	position: fixed;
	top: 50%;
	right: 19%;
}

.left_leg {
	position: fixed;
	top: 80%;
	right: 32%;
}

.modules {
	position: fixed;
	top: 80%;
	left: 43%;
}


h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

table {
	width: 150px;
	text-align: center;
	color: orange;
	background-color: black;
}

td {
	border: 1px solid orange;
	color: white;
}

